/* img100% 縮放不失真 */


/* 上層寫固定高>下層寫100%高就可以自適應 同理寬 */
div{
    width: 100px;
}

div img{
    width: 100%;

    height: 100%;

    object-fit: contain;
}

/* img相關 */
/* 1.要寬先到達100%就把寬寫在高前面,同理高

2.電腦版會在寬或高達到100%時就停止

3.手機板則是需要寬跟高都到達100%才停止 所以手機要注意要固定高就別把寬100%寫在前面

4.以左邊圖片右邊content來說 content使用超出部分...時 會卡住寬,在左邊的圖片就無法變更大,只能從超出部分的padding下去改 */